apiVersion: apps/v1
kind: Deployment
metadata:
  name: registerstation
  namespace: development
spec:
  selector:
    matchLabels:
      app: registerstation
  replicas: 1
  template:
    metadata:
      labels:
        app: registerstation
    spec:
      containers:
        - name: registerstation
          image: pfontaine/registerstation:{{ commit_sha }}
          env:
            - name: MONGO_HOST
              value: mongodevel
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_DB
              value: mayaprotect
          imagePullPolicy: Always

---

apiVersion: v1
kind: Service
metadata:
  name: registerstation-service
  namespace: development
spec:
  selector:
    app: registerstation
  ports:
  - port: 8080
    targetPort: 8080
  type: ClusterIP
